<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Application Error!</h1>
    <p>Whoops! An unexpected error has occured. If this message keeps appearing, please contact my administrator.</p>
    <code><%= message %></code>
  </div>
</main>

<footer>
  <%- include('partials/footer'); %>
</footer>

</body>
</html>