<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>ERROR! A problem has occured!</h1>
    <p>Placeholder error page. Check console for error details.</p>
    <%= message %>
  </div>
</main>

<footer>
  <%- include('partials/footer'); %>
</footer>

</body>
</html>